body {
	font-family: "Times New Roman", Times, serif;
	font-size: 19.5px;
	background-color: #7ac5c7;
}

header {
	display: block;
	margin: auto;
}

h1, nav {
	color: blue;
	text-align: center;
}

h1 {
	font-weight: normal;
}

nav a:hover {
	background-color: yellow;
	color: red;
}

ul {
	padding-left: 0px;
}

}
ul li {
	list-style-type: none;
}

ul li a {
	background-color: white;
	color: blue;
}

ul li a:visited {
	background-color: blue;
	color: white;
}

h1::first-letter {
	font-size: 82px;
	color: black;
}

p.bio::first-line {
	color: red;
}

h2 {
	counter-reset: cuenta-ciclos;
}

p.ciclos::before {
	content: counter(cuenta-ciclos) ". ";
	counter-increment: cuenta-ciclos;
}

footer p {
	font-style: italic;
}

footer p a:link {
	color: black;
	text-decoration: none;
}